
	*{
		font-family: 'Roboto', sans-serif;
	}
	#btnColor{
		background-color: black;
	}
	.logoContenedor{
		height: 350px;		
	}
	.infoPadding{
		
		padding-bottom: 7.5px;

	}
	.infoSize{
		font-size: 20px;
		font-weight: bold;
		margin: 0px;
	}
	.infoPaddingMap{
		
		padding-top: 7.5px;
	}
	.tamInfo{
		height: 168px;
	}
	.rewardsPadding{
		padding: 0px;
		padding-bottom: 20px;
	}
	.rowTopPaddingRegresar{
		padding-top: 100px;
	}
	.centerLogo{
		text-align: center;
		height: 100%;
		width: 100%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	.imgCenter{
		height: 100%;
	}
	.logoPadding{
		padding-bottom: 10px;
		
	}
	.divRewards{
		width: 100%;
		height: 100%;
		background-color: red;

	}
	.inlineReward{
		display: inline-block;
	}
	.paddingTop20{
		padding-top: 20px;
	}
	.paddingLeft20{
		padding-left: 20px;
	}
	.linkTukiStyle{
		color: black;
		text-decoration: underline;
	}
	#map {
    display: block;
    width: 100%;
    height: 100%;
	}
	.min-W{
		min-width: 300px;
		padding-top: 50px;

	}
	.infoRewTxt{
		text-transform: uppercase;
		margin: 0;
	}
	.divInfoRew{
		width: 100%;
		height: 100%;
		padding: 10px;
	}
	.puntos{
		color:white;
	}
	.puntosSize{		
		font-size: 1.61em;
	}
	.ptsFont{
		font-family: 'Oswald', sans-serif;
		font-size: 1.5em;
	}
	.ptsMargin{
		margin: 0;
		margin-bottom: 5px;
	}
	.imgMap{
		width: 30px;
		height: 30px;
	}

	.paddingRightIcon{
		padding-right: 10px;
	}
	.tamRowInfoN{
		height: 40%;
	}
	.tamRowInfoD{
		height: 60%;
	}
	.commerceName{
		text-transform: uppercase;

	}
	@media screen and (max-width: 500px) {
		.logoContenedor{
			height: 250px;
		}
		.branchInformation{
			font-size: 15px;
		}
	}
	@media screen and (min-width: 640px){
		.centerLogo{
			text-align: center;
			height: 100%;
			width: 100%;
			padding-top: 50%;
			padding-bottom: 50%;
		}
		.tamRowInfoN{
			height: 40%;
		}
		.tamRowInfoD{
			height: 60%;
		}
		.commerceName{
			font-size: 30px;
		}
		.branchInformation{
			font-size: 15px;
		}
		.paddingTop20{
			padding-top: 0px;
		}

	}
	@media screen and (min-width: 740px){
		.centerLogo{
			text-align: center;
			height: 100%;
			width: 100%;
			padding-top: 20%;
			padding-bottom: 20%;
		}
		.tamRowInfoN{
			height: 40%;
		}
		.tamRowInfoD{
			height: 60%;
		}
		.commerceName{
			font-size: 40px;
		}
		.branchInformation{
			font-size: 20px;
		}
		.branchInformationAddress{
			font-size: 15px;
		}

	}

	@media screen and (min-width: 390px) and (max-width: 640px) {
		.divPuntos{
			padding-bottom: 20px;
		}
		.puntosSize{
			font-size: 2.2em;
		}
		.ptsMargin{
			margin-bottom: -5px;
		}

	}
	@media screen and (min-width: 1024px){
		.branchInformationAddress{
			font-size: 20px;
		}

	}